@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }


<div>
    <h3 class="text-center">Bienvenu sur la platforme de gestion <strong>VarDoc</strong></h3>
</div>
<hr />
<br />

<div class="jumbotron">
    <img src="~/images/glass.jpg" class="rounded mx-auto d-block" alt="Responsive image" />

</div>
<div class="container">
</div>